.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-space);
    margin-top: var(--default-layout-height-header);
}

.contents {
    flex: 1;
    margin-left: var(--default-layout-sidebar);
    min-height: 1000px;
}
